@-webkit-keyframes bubbleOne
  10%
    opacity: 1
  30%
    top: -10px
    right: 60px
    opacity: .75
  40%
    top: -20px
    opacity: .45
  70%
    top: -30px
    right: 55px
    opacity: .25
  90%
    top: -40px
    opacity: 0

@-webkit-keyframes bubbleTwo
  10%
    top: -10px
    opacity: 1
  30%
    width: 15px
    height: 15px
    top: -10px
    right: 60px
    opacity: .75
  40%
    top: -40px
    width: 20px
    height: 20px
    opacity: .45
  70%
    width: 30px
    height: 30px
    top: -70px
    right: 55px
    opacity: .25
  90%
    width: 40px
    height: 40px
    top: -100px
    opacity: 0
