%footer#footer
  .container
    .row.links
      .col-sm-2
        %h4 Menü
        %p
          %a{ href: 'https://www.bulutfon.com', target: '_blank' } Bütün Yazılar
        %p
          %a{ href: 'https://www.bulutfon.com#how-it-works', target: '_blank' } Nasıl Çalışır?
        %p
          %a{ href: 'https://www.bulutfon.com#features', target: '_blank' } Özellikler
        %p
          %a{ href: 'https://www.bulutfon.com#pricing', target: '_blank' } Santral Paketleri
        %p
          %a{ href: 'https://www.bulutfon.com/tarifeler', target: '_blank' } Konuşma Tarifeleri

      .col-sm-2
        %h4 Sözleşmeler
        %p
          %a{ href: 'https://www.bulutfon.com/terms_of_membership', target: '_blank' } Üyelik Sözleşmesi
        %p
          %a{ href: 'https://www.bulutfon.com/agreements/v20140416-Bulutfon-Abonelik-Sozlesmesi.pdf', target: '_blank' } Abonelik Sözleşmesi

        %h4 Yardım
        %p
          %a{ href: 'http://yardim.bulutfon.com/', target: '_blank' } Bilgi Bankası

        %h4 Kampanyalar
        %p
          %a{ href: 'http://kampanya.bulutfon.com/teknokent-firmalarina-ozel-kampanya.html' } Teknokent Firmaları

      .col-sm-2
        %h4 Blog
        %p
          %a{ href: 'http://blog.bulutfon.com', target: '_blank' } Bütün Yazılar
        %p
          %a{ href: 'http://blog.bulutfon.com/category/etkinlikler/', target: '_blank' } Etkinlikler
        %p
          %a{ href: 'http://blog.bulutfon.com/category/yeni-ozellikler/', target: '_blank' } Yeni Özellikler
        %h4 Basın
        %p
          %a{ href: '/press/bulutfon_press_kit.zip', target: '_blank'} Basın Kiti
        %p
          %a{ href: 'http://blog.bulutfon.com/category/basinda-biz/', target: '_blank' } Basında Biz

      .col-sm-2
        %h4 Sosyal Medya
        .social_list
          %p
            .fa.fa-twitter
            %a{ href: 'https://twitter.com/Bulutfon', target: '_blank'} Twitter
          %p
            .fa.fa-facebook
            %a{ href: 'https://www.facebook.com/Bulutfon', target: '_blank'}  Facebook
          %p
            .fa.fa-google-plus
            %a{ href: 'https://plus.google.com/+Bulutfon', target: '_blank'}  Google Plus
          %p
            .fa.fa-youtube
            %a{ href: 'http://www.youtube.com/Bulutfon', target: '_blank'}  Youtube
          %p
            .fa.fa-linkedin
            %a{ href: 'http://www.linkedin.com/company/bulutfon-telekom-nikasyon-sanayi-ve-ticaret-anonim-irketi', target: '_blank'}  LinkedIn

      .col-md-4.footer-copyrights
        %h5 BULUTFON TELEKOMÜNİKASYON AŞ
        %p
          %strong Adres:
          Pamukkale Üniversitesi Teknoloji
          %br/
          Geliştirme Bölgesi D Blok No:117 Denizli
          %br/
          %strong Telefon:
          0 850 885 00 00
          %strong Faks:
          0 258 215 50 71
          %br/
          %strong Vergi Dairesi / No
          Pamukkale VD / 1890618568
          %br/
          %strong Email
          info@bulutfon.com
        %p.copyright &copy; Copyright 2014 Bulutfon. Tüm hakları saklıdır.

        .row
          .col-sm-4
            %a.twitter-share-button{'data-hashtags' => 'bulutfon', 'data-lang' => 'tr', 'data-related' => 'bulutfon', 'data-text' => 'Sanal santral, faks, sesli mesaj, ses kaydı hizmetleri', 'data-url' => 'https://bulutfon.com/', 'data-via' => 'bulutfon', href: 'https://twitter.com/share'} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          .col-sm-4
            %iframe{allowtransparency: 'true', frameborder: '0', scrolling: 'no', src: '//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbulutfon.com&width&layout=button_count&action=like&show_faces=true&share=true&height=21', style: 'border:none; overflow:hidden; height:21px;'}
          .col-sm-4
            .g-plusone{ 'data-annotation' => 'bubble', 'data-size' => 'medium', 'data-width' => '300' }
            :javascript
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();

      .clearfix