%div.specs
  %div.spanrow
    %span
      %img{alt: 'Logo', src: '../assets/images/icon-gift.png'}
      %h3 850'li Numara
      %p İster coğrafi olmayan 0850'li numaralar ile isterseniz mevcut numaranızı taşıyarak kullanabilirsiniz.
    %span
      %img{alt: 'Logo', src: '../assets/images/icon-game-console.png'}
      %h3 Kolay Kullanım
      %p Üst seviye santral özelliklerini her hangi bir uzmana ihtiyaç duymadan düzenleyebilirsiniz.
  %div.spanrow
    %span
      %img{alt: 'Logo', src: '../assets/images/icon-control-panel.png'}
      %h3 Yönetim Paneli
      %p İnternet üzerinden her özelliği istediğiniz gibi düzenleyebilmeniz ve yönetebilmeniz mümkünüdür.
    %span
      %img{alt: 'Logo', src: '../assets/images/icon-clouds.png'}
      %h3 Bulut Tabanlı
      %p Platform ve mekandan bağımsız çalışmaktadır. Dolayısı ile bakım maliyeti 0'dır. Size sadece kullanmak kalır.