%header.header
  .container
    .row
      .col-lg-5.col-xs-12.col-sm-12
        %a{href: "#", title: "Bulutfon"}
          %img.hidden-sm.hidden-xs{alt: "Logo", src: "https://www.bulutfon.com/assets/logo-5888388fcc0d90f508318fd05dce25e4.png"}
          %img.visible-sm.visible-xs.resplogo{alt: "Logo", src: "https://www.bulutfon.com/assets/logo-5888388fcc0d90f508318fd05dce25e4.png"}
      .col-lg-7.col-xs-12.col-sm-12
        %ul#primary-navigation.pull-right.hidden-sm.hidden-xs
          %li.active
            %a{href: "/"} Ana Sayfa
          %li
            %a{href: "/#pricing"} Fiyatlar ve Kayıt
          %li
            %a{href: "/#how-it-works"} Nasıl Çalışır?
          %li
            %a.last{href: "/#features"} Özellikler
        %ul#secondary-navigation.visible-sm.visible-xs
          %li.active
            %a{href: '/'} Ana Sayfa
          %li
            %a{href: '/#pricing'} Fiyatlar ve Kayıt
          %li
            %a{href: '/#how-it-works'} Nasıl Çalışır?
          %li
            %a.last{href: '/#features'} Özellikler
    .row.bigbang
      .col-lg-9.slogan
        %h1
          Teknokent'te ofisi bulunan firmalar,
          %br/
          %strong kurumsal çalışsın, daha çok üretsin
          istedik.
        %h3
          Teknokent'lerde ofisi bulunan bütün ar-ge firmalarına özel
          %br/
          %strong bir ay sizden onbir ay bizden
          hediye
          %br/
          Bulutfon abonelik fırsatını kaçırmayın.
      .col-lg-3.join
        %a{href:'/',class:'hero-button btn-success btn-lg'} Hemen Katıl
  .stage-assets
    .half
    .circle.big
    .circle
    .doctorBulutfon
      = image_tag 'doctorBulutfon.png', alt: 'R&D Illustration'
    .flask
      .inner-flask
        .bubble.normal
        .bubble.medium
        .bubble.large
