- page 'Teknokent Firmalarına Özel Kampanya'

.content-area
  .container
    .row
      .col-md-7.main
        %h3.bulutfon-blue KAMPANYA DETAYLARI
        %h1 Teknokent Firmalarına Özel Kampanya
        %p
          Türkiyede
          %strong Teknokentler'de ofisi bulunan
          bütün firmalar faydalanabilir.
        %p
          "Teknokent Firmalarına Özel" kampanyası kapsamında bir aylık
          santral ücreti paketini ödemeniz durumunuzda takip eden onbir
          ayın santral ücreti alınmayacaktır.
        %p
          Bu kampanyadan faydalanan aboneler bir üst santral pakete geçmek ister ise
          paket yükseltimi için sistem bir yıllık fark ödemesi alacaktır.
        %p
          Bu kampanya sadece santral ücretleri ile sınırlıdır.Konuşma ücretleri,
          cihaz alımı ve diğer hizmetlerde bir indirim yoktur.
        %p
          Kampanya hakkında daha fazla bilgi almak için
          %span.bulutfon-blue
            info@bulutfon.com
          veya
          %span.bulutfon-blue
            0850 885 0 000
          'dan bizlere ulaşabilirsiniz.

        %p
          %a{href:'/',class:'join-now-second-btn btn-success btn-lg'} Hemen Katıl

      .col-md-4.col-md-offset-1
        .row.sidebar-info
          .col-md-12
            %div.specs
              %div.spanrow
                %span
                  %img{alt: "Logo", src: "http://www.bulutfon.com/assets/icon-gift-228a34850a7b1301b6d5b139eb260e3f.png"}
                  %h3 850'li Numara
                  %p İster coğrafi olmayan 0850'li numaralar ile isterseniz mevcut numaranızı taşıyarak kullanabilirsiniz.
                %span
                  %img{alt: "Logo", src: "https://www.bulutfon.com/assets/icon-game-console-2ee23b8965a26097481cd4d62be48420.png"}
                  %h3 Kolay Kullanım
                  %p Üst seviye santral özelliklerini her hangi bir uzmana ihtiyaç duymadan düzenleyebilirsiniz.
              %div.spanrow
                %span
                  %img{alt: "Logo", src: "https://www.bulutfon.com/assets/icon-control-panel-26e29fe3ec8025efbe68f06192f93065.png"}
                  %h3 Yönetim Paneli
                  %p İnternet üzerinden her özelliği istediğiniz gibi düzenleyebilmeniz ve yönetebilmeniz mümkünüdür.
                %span
                  %img{alt: "Logo", src: "https://www.bulutfon.com/assets/icon-clouds-5fbb11a61aeb6af1e20f7142b70b06dc.png"}
                  %h3 Bulut Tabanlı
                  %p Platform ve mekandan bağımsız çalışmaktadır. Dolayısı ile bakım maliyeti 0'dır. Size sadece kullanmak kalır.